h1 {
    background-color: rgb(19, 19, 21);
    text-align: center;
    color: white;
    height: 100px;
    line-height: 100px;
}

span {
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

nav {
    background-color: rgb(177, 176, 176);
    text-align: center;
}